:root {
    --placeholder : #1f1f1f;
}


.mynavcolor{
    background-color: rgba(8, 65, 112, 0.96);
}

.dropdowncolor {
    background-color: rgba(30, 28, 28, 0.96);
}


.active{
    border-bottom: 1px solid #f7f8f5;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #504e4e;
}

.pagecolor {
    background-color: rgba(134, 162, 222, 0.46);
}

.breaking {
    background-color: rgba(106, 108, 108, 0.99);
    margin-bottom: 0px;
}

.socialmeidachannels {
    background-color: rgba(8, 65, 112, 0.96);
}

.socialmeidachannelsitemcolor{

    color: #d9dbde;
}


.copyright{
    font-weight: bold;
    background-color: rgb(134, 162, 222);
}
.centeredimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 400px;
}
.navbar-toggler-iconstyle{
    color: #e3dede;
    font-size:28px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 75%;
    min-height: 75%;
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    background-color: rgba(8, 79, 182, 0.16);



    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid rgba(0, 0, 0, 0.84); /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input::placeholder {

    color: var(--placeholder);
}
select::placeholder{
    color: var(--placeholder);
}
textarea::placeholder{
    color: var(--placeholder);
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgba(11, 51, 136, 0.46) !important;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #0f2e93;
}

/* Add a background color and some padding around the form */
.containercontact {
    border-radius: 5px;
    background-color: rgba(134, 162, 222, 0.46);
    padding: 20px;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    background-color: rgba(133, 135, 136, 0.99);
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timelinecontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timelinecontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.timelinecontent {
    padding: 20px 30px;
    background-color: #4f4d4d;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timelinecontainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timelinecontainer::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}
