:root {
    --placeholder : rgb(31, 31, 31);
    --maincolor: rgb(129, 141, 22);
    --secondcolor: rgba(129, 141, 22, 0.8);
}


.mynavcolor{
    background-color: var(--maincolor);
    border-bottom: #ccc8c8 solid 2px;

}



.pagecolor{

    background-color:  var(--secondcolor);

}

.containercontact {

    background-color: rgba(198, 198, 215, 0.46);
    padding: 20px;
}

.dropdowncolor{
    background-color: var(--secondcolor);
}


.active{
    border-bottom: 1px solid #f7f8f5;
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #7a7878;
}



.breaking {
    background-color: rgba(106, 108, 108, 0.99);

}

.socialmeidachannels {
    background-color: var(--maincolor);
}

.socialmeidachannelsitemcolor{

    color: #d9dbde;
}


.copyright{
    background-color: rgb(152, 152, 103);
    font-weight: bold;
    color: black;


}
.centeredimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 400px;
}
.navbar-toggler-iconstyle{
    color: #e3dede;
    font-size:28px;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 75%;
    min-height: 75%;
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=date],select, textarea {
    background-color: rgba(129, 141, 22, 0.28) !important;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid rgba(133, 135, 136, 0.73); /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: silver;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

input::placeholder {

    color: var(--placeholder);
}
select::placeholder{
    color: var(--placeholder);
}
textarea::placeholder{
    color: var(--placeholder);
}


/* Style the submit button with a specific background color etc */
input[type=submit] {

    background-color: rgba(129, 141, 22); !important;
    color: #1f1f1f;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */


/* Add a background color and some padding around the form */



/* The actual timeline (the vertical ruler) */
.timeline {
    background-color: rgba(133, 135, 136, 0.99);
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.timelinecontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.timelinecontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.timelinecontent {
    padding: 20px 30px;
    background-color: #4f4d4d;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timelinecontainer {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timelinecontainer::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.satzunglink{
    font-weight : bold ;
    a:link, a:visited {
        color: #1f1f1f;
        text-decoration: underline;
    }
    a:hover {
        color: #1f1f1f;
        text-decoration: underline;
    }
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #198653 !important;
}


.svgfillunten {

    margin-top: 0px;
    margin-bottom: -40px ;
    margin-left: -20px;
    margin-right: -20px;

}

#ballon1 {
    margin-bottom: -1500px;
}

.rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 700;
    font-style: normal;
}




.caveat{
             font-family: "Caveat", cursive;
             font-optical-sizing: auto;

             font-style: italic;
         }

.bewegung{
    padding: 20px;
    border-radius: 4px;
}

.bewegung:hover {
    border-radius: 0px;
    margin: 3px;
    box-shadow: 0 15px 50px black;
    opacity: 0.99!important;
    padding: 40px;
}



@media only screen and (max-width: 600px){


.svgfilloben {

    margin-top: -70px;
    margin-left: -20px;
    margin-right: -20px;

    }
.bewegung{
    height: 30vh!important;
}
}


@media only screen and (min-width:601px) and (max-width:1000px) {
    .svgfilloben {
        margin-top: -110px;
        margin-left: -20px;
        margin-right: -20px;

    }

    .bewegung{
        height: 30vh!important;
    }
}

@media only screen and (min-width:1001px) and (max-width:1300px) {
    .svgfilloben {
        margin-top: -180px;
        margin-left: -20px;
        margin-right: -20px;

    }
    .bewegung{
        height: 30vh!important;
    }
}
@media only screen and (min-width:1301px) and (max-width:1500px) {
    .svgfilloben {
        margin-top: -200px;
        margin-left: -20px;
        margin-right: -20px;

    }
    .bewegung{
        height: 30vh!important;
    }
}
@media only screen and (min-width:1501px) {
    .svgfilloben {
        margin-top: -230px;
        margin-left: -20px;
        margin-right: -20px;

    }
    .bewegung{
        height: 30vh!important;
    }
}

.centerlements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mainfont{
    font-family: Calibri, sans-serif;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 18px;
    margin: 5px;

}



#colorbox1{
    background-color: #969f36;

}
#colorbox2{
    background-color: #a9af70;
}
#colorbox3{
    background-color: #abae8d;
}
#colorbox4{
    background-color: #a9af70;
}
#colorbox5{
    background-color: #969f36;
}
#colorbox6{
    background-color: #a9af70;
}
#colorbox7{
    background-color: #abae8d;
}
#colorbox8{
    background-color: #a9af70;
}
#colorbox9{
    background-color: #969f36;
}




















